* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* -----------Nav.jsx---------- */
ul {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    letter-spacing: 0.2rem;
    margin-left: 50px;

    li {
        padding: 10px 15px;
        list-style: none;

        a {
            text-decoration: none;
        }
    }
}