* {
  box-sizing: border-box;
  text-align: center;
}

body {
  font-family: 'Open Sans', sans-serif;
}

/* -----------nav.jsx---------- */
ul {
  display: flex;
  list-style: none;
  gap: 20px;
  padding: 10px;
  margin: 10px 20px;


  li {
    font-size: 0.875rem;
    letter-spacing: 0.125rem;
    font-weight: 700;
  }
}

a {
  text-decoration: none;
}

/* -----------home.jsx---------- */

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }

}

/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/* End Global Rules */

/* Start Landing Page */
.landing-page header {
  min-height: 80px;
  display: flex;
}

@media (max-width: 767px) {
  .landing-page header {
    min-height: auto;
    display: initial;
  }
}

.landing-page header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 767px) {
  .landing-page header .container {
    flex-direction: column;
    justify-content: center;
  }
}

.landing-page header .logo {
  color: #5d5d5d;
  font-style: italic;
  text-transform: uppercase;
  font-size: 20px;
}

@media (max-width: 767px) {
  .landing-page header .logo {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

.landing-page header .links {
  display: flex;
  align-items: center;
}

@media (max-width: 767px) {
  .landing-page header .links {
    text-align: center;
    gap: 10px;
  }
}

.landing-page header .links li {
  margin-left: 30px;
  color: #5d5d5d;
  cursor: pointer;
  transition: .3s;
}

@media (max-width: 767px) {
  .landing-page header .links li {
    margin-left: auto;
  }
}

.landing-page header .links li:last-child {
  border-radius: 20px;
  padding: 10px 20px;
  color: #FFF;
  background-color: #6c63ff;
}

.landing-page header .links li:not(:last-child):hover {
  color: #6c63ff;
}

.landing-page .content .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 140px;
  min-height: calc(100vh - 80px);
}

@media (max-width: 767px) {
  .landing-page .content .container {
    gap: 0;
    min-height: calc(100vh - 101px);
    justify-content: center;
    flex-direction: column-reverse;
  }
}

@media (max-width: 767px) {
  .landing-page .content .info {
    text-align: center;
    margin-bottom: 15px
  }
}

.landing-page .content .info h1 {
  color: #5d5d5d;
  font-size: 44px;
}

.landing-page .content .info p {
  margin: 0;
  line-height: 1.6;
  font-size: 15px;
  color: #5d5d5d;
}

.landing-page .content .info button {
  border: 0;
  border-radius: 20px;
  padding: 12px 30px;
  margin-top: 30px;
  cursor: pointer;
  color: #FFF;
  background-color: #6c63ff;
}

.landing-page .content .image img {
  max-width: 100%;
}

/* -----------about.jsx---------- */

@import url('https://fonts.googleapis.com/css?family=EB+Garamond:400,500|Roboto:400,700');

* {
  box-sizing: border-box;

  &::before,
  &::after {
    box-sizing: border-box;
  }
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  font-family: 'EB Garamond', serif;
  line-height: 1.1;
}

h2,
h3 {
  color: black;
  font-weight: 400;
}

h1 {
  font-size: 2.325rem;
  font-weight: 500;
  margin: 0;
}

h2 {
  font-size: 2rem;
  margin: 0 0 2rem;
}

h3 {
  font-size: 1.75rem;
  margin: 0 0 2rem;
}

p {
  margin: 0 0 1.5rem;

  &:nth-child(4) {
    margin: 0;
  }

  &.copyright {
    margin: 1.5rem 0;
  }
}

blockquote {
  font-style: italic;
  text-align: center;
  width: 40rem;
  height: auto;
  max-width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
}


.intro {
  margin: 1rem 0;
  padding: 0;
  width: 100%;
}

#logo {
  color: black;
  font-weight: 700;
  font-size: 0.875rem;
  letter-spacing: 0.125rem;
  text-transform: uppercase;
  margin: 0;
}

.container {
  margin: auto;
  padding: 0 1rem;
  max-width: 75rem;
  width: 100%;
}

main {
  padding: 2rem 0;
}

.grid {
  >[class*="column-"] {
    padding: 1rem;
  }
}

.section-heading {
  transform: rotate(0) translateX(0);
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

footer {
  text-align: center;
}

@media (min-width: md) {
  body {
    font-size: 1.125rem;
  }

  nav {
    padding: 2.5rem 0 2.5rem 0;

    ul {
      justify-content: flex-end;
    }
  }

  h1 {
    font-size: 3.25rem;
  }

  h2 {
    font-size: 2.75rem;
  }

  h3 {
    font-size: 2.25rem;
  }

  img {
    height: 40rem;
  }

  .section-heading {
    position: absolute;
    transform-origin: top left;
    transform: rotate(-90deg) translateX(-100%);
  }

  .intro {
    padding: 1rem;
  }

  blockquote {
    width: 30rem;
    height: 40rem;
  }
}

/* ------------ProductList---------- */
.card-box {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 20px 10px;
}

.product-card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  margin: 10px 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 300px;
  /* Adjust as per your layout */
}

.img img {
  max-width: 100%;
  border-radius: 8px;
}

.title {
  margin-top: 10px;
  font-size: 18px;
  font-weight: bold;
}

.desc {
  margin: 10px 0;
  font-size: 14px;
  color: #555;
}

.price {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: bold;
  color: #000;
}

.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
}

#view-more {
  text-decoration: none;
  color: #007bff;
  font-weight: bold;
  padding-top: 10px;
  width: fit-content;
  float: left;
}

#view-more:hover {
  text-decoration: underline;
}

#card-btn {
  background-color: #0d6efd;
  color: #fff;
  border: none;
  width: fit-content;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

#card-btn:hover {
  background-color: #218838;
}

/* ------------Product.jsx---------- */

.product-card1 {
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  margin: 20px;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.row {
  display: flex;
  margin-top: calc(-1* var(--bs-gutter-y));
  margin-right: calc(-.5* var(--bs-gutter-x));
  margin-left: calc(-.5* var(--bs-gutter-x));
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.tz-gallery .row>div {
  padding: 5px;
}

.tz-gallery .lightbox img {
  width: 50%;
  height: auto;
  border-radius: 0;
  position: relative;
  margin: 0px;
  padding: 0px;
}


.title-p {
  margin-top: 10px;
  font-size: 20px;
  font-weight: bold;
}

.desc-p {
  margin: 10px 0;
  font-size: 18px;
  color: #555;
}

.price {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
  color: #000;
}

#card-btn-p {
  background-color: #0d6efd;
  color: #fff;
  border: none;
  width: fit-content;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 0px;
}

#card-btn-p:hover {
  background-color: #218838;
}



/* -----------------Admin.jsx------------ */
.A-box {
  position: relative;
  font-size: 2rem;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 15px;
  margin:12px 20px;
  padding: 5px;
  height: 75vh;
  box-shadow:0 4px 10px 5px rgba(0, 0, 0, 0.2);
  ul {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
  }
}

.content-div{
  display: flex;
  position: absolute;
  border:2px solid rgb(0, 0, 0 , 0.5);
  width: 14vw;
  height: 65vh;
  margin: 10px;
  border-radius: 5px;
}

.outlet{
  border:2px solid rgb(0, 0, 0 , 0.5);
  padding-top: 20px;
  width: 80vw;
  float: right;
  height: 65vh;
  margin: 10px;
  border-radius: 5px;
}


/*---------footer------------- */

footer {
  background-color: #0d6efd;
}