<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Roll Dice</title>
</head>
<body>
    <h1>Dice rolled !</h1>
    <h2>You get number : 
        <%= diceValue %>
    </h2>
</body>
</html>